
:root {
    --header-background: #5694ff;
    --footer-background: #5694ff;
}

:root[color-mode="light"] {
    --header-background: #5694ff;
    --footer-background: #5694ff;
}
@media (prefers-color-scheme: light) {
    :root {
        --header-background: #5694ff;
        --footer-background: #5694ff;
    }
}

:root[color-mode="dark"] {
    --header-background: #5694ff;
    --footer-background: #5694ff;
}
@media (prefers-color-scheme: dark) {
  :root {
      --header-background: #5694ff;
      --footer-background: #5694ff;
  }
}

